  <div class="mood-container m-3" style="background: <%= post.background_color %>;">
    <div class="post-body">
      <h5><%= l post.created_at, format: :long %>の<%= post.user.name %>さんの１行日記</h5>
      <h5><%= post.body %></h5>
    </div>
  </div>

<!--renderで引っ張る際はmoodsとpostに変数を渡す-->