<div class="mx-auto px-2 mood-name">
  <% moods.each do |mood| %>
    <div class="d-inline-block mood-item" style="color: <%= mood.color %>;">
      <h5 class="d-block mood-name">
        <%= mood.name %>
      </h5>
    </div>
  <% end %>
</div>

<!--部分テンプレート内で引用（public/posts/diariesとpublic/posts/index）-->