<div class="container">
  <div class="card mx-auto mt-4 shadow-lg" style="max-width: 900px;">
    <%= render  "public/searches/form" %>
    <h4 class ="pl-2 pt-2">みんなの１行</h4>
    <%= render "public/posts/diaries", grouped_posts: @grouped_posts %>
    <div class ="mx-auto">
      <%= paginate @posts %>
    </div>
  </div>
</div>
