<% if current_user.following?(user) || user == current_user %>
  <div id ="comments-error"></div>
  <%= form_with(model:[post, comment], local: false) do |f| %>
    <div class="form-group mt-2">
      <%= f.text_area :body, sanitize: true, rows:'3',placeholder: "コメントをここに", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "送信", class: 'btn btn-outline-secondary float-right' %>
    </div>
  <% end %>
<% else %>
  <%= link_to "フォローしてコメントを投稿する",user_relationships_path(user),method: :post, class: "btn btn-light" %>
<% end %>