<% post.comments.each do |comment| %>
  <div class="d-flex pb-1">
    
      <%= link_to user_path(comment.user) do %>
        <p><%= comment.user.name %>　</p>
      <% end %>
      <div class="form-group d-flex align-items-center">
      <%= simple_format(comment.body) %> <!--改行表示用-->
      <% if comment.user == current_user || comment.post.user == current_user %>
        <%= link_to "削除",post_comment_path(post, comment), method: :delete, class: "text-danger delete-link ml-2", remote: true, data: {"turbolinks" => false} %>
      <% end %>
</div>
  </div>
<% end %>
