<div class="container">
  <div class="card mx-auto mt-4 shadow-lg" style="max-width: 900px;">
    <div class="mx-auto">
      <h2>フォロー一覧</h2>
      <% if @users.exists? %>
        <% @users.each do |user| %>
          <%= render "public/users/name", user: user %>
        <% end %>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
      <%= paginate @users %>
    </div>
  </div>
</div>