<% unless current_user&.guest_user? %>
  <div class="pt-2 pl-2 search_form">
    <%= form_with url: searches_search_path, method: :get, local: true do |f| %>
      <%= f.text_field :content %>
      <%= f.select :model, options_for_select({"ユーザー" => "user", "投稿" => "post"}) %>
      <%= f.submit "検索", class: "btn btn-outline-secondary" %>
    <% end %>
  </div>
<% end %>