<div class="top-content">
  <div class="central-content">
    <strong>1Gyo diary</strong>
    <div class="button-group">
      <div class="row justify-content-center btn-container">
        <%= link_to "新規登録", new_user_registration_path, class: "btn-top" %>
      </div>
      <div class="row justify-content-center btn-container">
        <%= link_to "ログイン", new_user_session_path, class: "btn-top" %>
      </div>
      <div class="row justify-content-center btn-container">
        <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn-top", method: :post %>
      </div>
    </div>
  </div>
</div>