@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html body {
  background-color: #fff;
}

a{
  text-decoration: none !important;
  cursor: pointer;
  color: dimgray;
}


.rounded-circle a:hover{
  text-shadow: 3px 3px 5px #a0a7c5 !important;
}

.logo a{
    font-family: "SUSE", sans-serif;
    font-size: 30px;
    color: #c6dbee;
    text-shadow: 3px 3px 5px #a0a7c5;
    font-weight: bold;
}

.nav-item a {
  display: flex;
  height: 50px;
  color: black;
  margin: 15px;
  align-items: center;
  font-size: 20px;
}

.sidebar{
  border-right: 2px solid #c0c0c0;
  flex-grow: 1;
}





/*--------------------------------ユーザーネームと画像ここから------------------------------------*/
.user_name{
  text-decoration: none;
  color: #a0a7c5;
}

.index-item{
  overflow: hidden;
}

.name-box{
  float: left;
  padding: 20px 30px;
  width: 20%;
}

.index-box{
  float: left;
  padding: 20px 30px;
  width: 70%;
}
/*--------------------------------ユーザーネームと画像ここまで------------------------------------*/

/*--------------------------------１行日記の本文ここから------------------------------------*/
.mood-details {
  text-align: center; /* アイテムを中央揃えにする（任意） */
}

.mood-item {
  margin-right: 10px; /* アイテム間のスペースを指定 */
}

.mood-name {
  font-weight: bold;
}

.mood-container {
  position: relative;
  display: flex;
  justify-content: center; /* 中央に配置 */
  align-items: center;     /* 中央に配置 */
  height: 150px;           /* 必要に応じて高さを調整 */
  border-radius: 8px;      /* 角丸 */
  overflow: hidden;        /* コンテンツがはみ出さないように設定 */
}

.post-body {
  color: white;            /* 背景と対比する文字色 */
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1); /* 背景を透過して本文を強調 */
  border-radius: 5px;      /* 本文の背景を角丸にする場合 */
  max-width: 90%;          /* コンテンツの幅を制限して余白を確保 */
}
/*--------------------------------１行日記の本文ここまで------------------------------------*/

/*--------------------------------投稿詳細画面の画像の設定ここから------------------------------------*/

.background-image-container {
  position: relative; /* 子要素の位置を相対的に配置 */
  width: 700px; /* 画像の幅に合わせる */
  height: 400px; /* 画像の高さに合わせる */
}

.background-image {
  width: 100%; /* 親要素に合わせて画像を引き伸ばす */
  height: 100%; /* 親要素に合わせて画像を引き伸ばす */
  object-fit: cover; /* 画像を枠に合わせてトリミング */
  border-radius: 5px;
}

.overlay-content {
  position: absolute; /* コンテンツを絶対配置 */
  top: 50%; /* 垂直中央に配置 */
  left: 50%; /* 水平中央に配置 */
  transform: translate(-50%, -50%); /* 中央に配置するためのオフセット調整 */
  color: white; /* テキストの色を白に設定 */
  text-align: center; /* テキストを中央に配置 */
  padding: 10px; /* テキストの周りにパディングを追加 */
  background-color: rgba(0, 0, 0, 0.08); /* テキストの背景に半透明の黒色を追加して視認性を向上 */
  border-radius: 8px; /* 角を丸める */
}
/*--------------------------------投稿詳細画面の画像の設定ここまで------------------------------------*/
