/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html body {
  background-color: #fff;
  
}

a{
  text-decoration: none;
}

.logo a{
    font-family: "SUSE", sans-serif;
    font-size: 4rem;
    color: #c6dbee;
    text-shadow: 3px 3px 5px #a0a7c5;
    text-decoration: none;
    font-weight: bold;
}

.navbar{
  border-bottom: 3px solid #e3ecf8;
}

.nav-item a {
  font-size: 25px;
  color: #a0a7c5;
  margin: 15px;
}
