<div class="text-center py-2 ">
  <%= link_to user_path(user) do %>
    <%= image_tag user.get_profile_image(100,100), class: "rounded-circle" %>
    <div class="user_name"><%= user.name %></p></div>
  <% end %>
</div>
