<div class="container">
  <div class="card mx-auto mt-4 shadow-lg" style="max-width: 900px;">
    <% if @favorite_posts.any? %>
      <% @favorite_posts.each do |post| %>
        <div class="index-item">
          <div class="name-box">
            <%= render "name", user: post.user %>
          </div>
          <div class="index-box">
            <%= render "public/posts/mood_background_diary", post: post %>
          </div>
        </div>
      <% end %>
    <% else %>
      <h4>いいねした投稿はありません</h4>
    <% end %>
    <div class ="mx-auto">
      <%= paginate @favorite_posts %>
    </div>
  </div>
</div>