<div class="container">
  <div class="card mx-auto mt-4 shadow-lg" style="max-width: 900px;">
    <%= render "info", user: @user %>
    <div class='row justify-content-center py-2'>
      <% @user.received_messages.each do |message| %>
        <p class="border p-2"><%= message.message_text.content  %></p>
      <% end %>
    </div>
    <div class='row justify-content-center py-2'>
      <%= render "public/messages/form", reciever: @user %>
    </div>
  </div>
</div>